
<!-- jQuery -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Gallery -->
<script src="https://cdn.staticfile.org/featherlight/1.7.1/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Comments -->
<% if (theme.comments && page.comments) %>
    <!-- Disqus Comments -->
    <% if (theme.comments.disqus_shortname){ %>
        <script type="text/javascript">
            var disqus_shortname = '<%= theme.comments.disqus_shortname %>';

            (function(){
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            }());
        </script>
    <% } %>

    <!-- Gitment Comments -->
    <% if(theme.comments.gitment && theme.comments.gitment.username ){ %>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script> 
            const gitment = new Gitment({
                owner: '<%= theme.comments.gitment.username %>',
                repo: '<%= theme.comments.gitment.repo %>',
                oauth: {
                    client_id: '<%= theme.comments.gitment.client_id %>',
                    client_secret: '<%= theme.comments.gitment.client_secret %>',
                },
            })
            gitment.render('gitment_thread')
        </script>
    <% } %>


    <!-- Gitalk Comments -->
    <% if(theme.comments.gitalk && theme.comments.gitalk.username ){ %>
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.js"></script>
        <script> 
            const gitalk = new Gitalk({
                clientID: '<%= theme.comments.gitalk.client_id %>',
                clientSecret: '<%= theme.comments.gitalk.client_secret %>',
                repo: '<%= theme.comments.gitalk.repo %>',
                owner: '<%= theme.comments.gitalk.username %>',
                admin: ['<%= theme.comments.gitalk.username %>'],
                distractionFreeMode: false
            })
            gitalk.render('gitalk_thread')
        </script>
    <% } %>


<!-- anchor-js -->
<% if(theme.anchor && page.anchor){ %>
    <script src="https://cdn.bootcss.com/anchor-js/4.1.0/anchor.min.js"></script>
    <script>
        anchors.options = {
            placement: 'left',
        };
        anchors.add('.anchor-body h1, .anchor-body h2, .anchor-body h3, .anchor-body h4, .anchor-body h5, .anchor-body h6');
    </script>
<% } %>

<!-- Side Catalog 
<% if(page.catalog){ %>
    <script type="text/javascript">
        function generateCatalog (selector) {
            var P = $('div.post-body'),a,n,t,l,i,c;
            a = P.find('h1,h2,h3,h4,h5,h6');
            a.each(function () {
                n = $(this).prop('tagName').toLowerCase();
                i = "#"+$(this).prop('id');
                t = $(this).text();
                c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
                l = $('<li class="'+n+'_nav"></li>').append(c);
                $(selector).append(l);
            });
            return true;    
        }
        generateCatalog(".catalog-body");
        // toggle side catalog
        $(".catalog-toggle").click((function(e){
            e.preventDefault();
            $('.side-catalog').toggleClass("fold")
        }))
        /*
         * Doc: https://github.com/davist11/jQuery-One-Page-Nav
         * Fork by Hux to support padding
         */
        async("{{ '/js/jquery.nav.js' | prepend: site.baseurl }}", function () {
            $('.catalog-body').onePageNav({
                currentClass: "active",
                changeHash: !1,
                easing: "swing",
                filter: "",
                scrollSpeed: 700,
                scrollOffset: 0,
                scrollThreshold: .2,
                begin: null,
                end: null,
                scrollChange: null,
                padding: 80
            });
        });
    </script>
<% } %>
-->
