<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Icon-->
    <% if (config.icon){%>
        <link rel="shortcut icon" href="<%= config.root %><%= config.icon %>">
    <% } %>

    <!--Description-->
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <!--Open Graph Title-->
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } else { %>
        <meta property="og:title" content="<%= config.title %>"/>
    <% } %>

    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- Katex -->
    <!-- bootcdn -->
    <link href="https://cdn.bootcss.com/KaTeX/0.9.0-alpha2/katex.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/KaTeX/0.9.0-alpha2/katex.min.js"></script>
    <script src="https://cdn.bootcss.com/KaTeX/0.9.0-alpha2/contrib/auto-render.min.js"></script>
    <!-- cdnjs 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css" integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js" integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>
    -->
    <!-- staticfile
    <link rel="stylesheet" href="https://cdn.staticfile.org/KaTeX/0.7.1/katex.min.css">
    <script src="https://cdn.staticfile.org/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdn.staticfile.org/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
    -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var mathList = document.getElementsByClassName("markdown-body"),len=mathList.length;
            for(var i = 0; i < len; i++){
                renderMathInElement(
                    mathList[i],
                    {
                        delimiters: [
                            {left: "$$", right: "$$", display: true},
                            {left: "$", right: "$", display: false},
                            {left: "\\[", right: "\\]", display: true},
                            {left: "\\(", right: "\\)", display: false}
                        ]
                    }
                );
            }
        });
    </script>

    <!--highlight.js-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/9.10.0/styles/atom-one-light.min.css">
    <script src="https://cdn.staticfile.org/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    

    <!--Github Markdown css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/github-markdown-css/2.5.0/github-markdown.min.css">
    <style>
            .markdown-body {
                    box-sizing: border-box;
                    margin: 0 auto;
                    padding: 45px;
            }

            @media (max-width: 767px) {
                    .markdown-body {
                            padding: 15px;
                    }
            }
    </style>


    <!--Open Graph Description-->
    <% if (page.description){ %>
        <meta property="og:description" content="<%= page.description %>" />
    <% } else if (config.description) { %>
        <meta property="og:description" content="<%= config.description %>" />
    <% } %>

    <!--Open Graph Site Name-->
    <meta property="og:site_name" content="<%= config.title %>"/>

    <!--Type page-->
    <% if(page.title) { %>
        <meta property="og:type" content="article" />
    <% } else { %>
        <meta property="og:type" content="website" />
    <% } %>

    <!--Page Cover-->
    <% if (page.share_cover) { %>
        <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
    <% } else if (config.cover) { %>
        <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
    <% } %>

        <meta name="twitter:card" content="summary" />
    <% if(theme.twitter_handle) { %>
        <meta name="twitter:site" content="<%= theme.twitter_handle %>>" />
    <% } %>

    <!-- Title -->
    <%
    var title = [];
    if (page.current > 1) title.push(__('page', page.current));
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive) {
        if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
        else title.push(__('archive_a'));
    }
    title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <%- css('css/style.css') %>

    <!-- Custom Fonts -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!--
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Gallery -->
    <link href="https://cdn.staticfile.org/featherlight/1.7.1/featherlight.min.css" type="text/css" rel="stylesheet" />

    <!-- Google Analytics -->
    <%- partial('google-analytics') %>

    <!-- favicon -->
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
	
</head>
